*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #181818;
}

#searchBar{
    height: 30px;
    font-size: 11px;
}

#searchButton{
    height: 30px;
    font-size: 11px;
}

.navbar-brand{
    position: relative;
    left: 420px;
    bottom: 2px;
}

.loginButtons{
    position: relative;
    left: 350px;
}

.container-1{
    position: relative;
    top: 5px;
}

.divCarousel{
    width: 720px;
}

.portada{
    max-width: 370px;
    object-fit: contain;
}

.video{
    display: flex ;
    position: static;
    z-index: 0;
}

.cardAu{
    filter: brightness(15%);
    
}

.card:hover{
    filter: brightness(100%);
    transition: 1s;
}

.espaciotop{
    height: 180px;
    width: 100%;
}

.paralax{
    height: 500px;
    background-image: url(/assets/img/abourUs/au-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.img-aboutUss{
    display: flex;
    z-index: 10;
    width: 100%;
    filter: blur(4px);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	background: #201e1e;
	color: #1d1d1d;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 40px auto 100px auto;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.contenedor .juego {
	text-align: center;
}

.contenedor .juego .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .juego .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

hr{
    color: aqua;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.span{
    color: rgb(28, 183, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton{
    border: solid 3px rgb(28, 183, 255);
}

button:hover{
    filter: contrast(50%);
} 